
nav {
	display: flex;
	justify-content: end;
	padding-right: 205px;
	position: sticky;
}

.logo {
	display: flex; 
	align-items: center;
	position: absolute;
	left: 5%;
	top: -8px;
}

.prof-cantainer {

}

.prof {
	display: flex; 
	align-items: center;
	position: absolute;
	right: 5%;
	top: -2px;
	text-decoration: none;
}

.prof p {
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin-left: 8px;
}

ul {
	display: flex;
	gap: 40px;
	list-style: none;
	align-items: center;
}

p {
	font-weight: bold;
	font-size: 20px;
	margin-left: 14px;
}

li {
	font-weight: bold;
	font-size: 16px;
}

.txt {
	color: white;
	text-decoration: none;
}

.logo img {
	width: 30px;
	height: 30px;
	/* margin-top: 10px; */
}

.prof img {
	width: 26px;
	height: 26px;
}